# Build outputs
bin/
obj/

# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio 2015/2017 cache/settings files
.vs/
# Uncomment if using Visual Studio
# .idea/

# Package management files
packages/

# .NET Core files
*.csproj.user
*.nuget.config
*.sln.cache
nuget.config

# General purpose ignore
*.swp
*.DS_Store
._*
Thumbs.db

# Production deploy artifacts
publish/